/* CSS Document */
#box-navbar-l2 {
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px; }

@media (max-width: 768px) {
  #box-navbar-l2 {
    height: 125px;
    padding-top: 10px;
    padding-bottom: 10px; } }
#box-navbar-l2 .img_logo {
  height: 55px; }
#box-navbar-l2 .input-group {
  width: 100%; }
#box-navbar-l2 .form-inline .form-control {
  height: 45px; }
#box-navbar-l2 .form-inline button {
  background-color: #282828;
  color: #FFF;
  padding: 2px 15px; }
  #box-navbar-l2 .form-inline button i {
    font-size: 24px; }
#box-navbar-l2 .cart {
  font-size: 15px;
  font-weight: 800; }
  #box-navbar-l2 .cart .cart-icon {
    max-height: 55px;
    margin-right: 10px; }
  #box-navbar-l2 .cart .badge {
    position: relative;
    color: #fff;
    top: 5px;
    right: -50px;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 1.3em;
    font-size: 12px;
    font-weight: bold;
    text-align: center; }
#box-navbar-l2 .cart:hover {
  cursor: pointer; }
